.pageContainer {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

.sectionContainer {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 18px);
}
